<?xml version="1.0" encoding="UTF-8"?>
<suite name="ERP Application" verbose="1" >
<listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
  </listeners>
  <test name="Regression suite" >
    <classes>
      <class name="com.suites.regression.Testngannotations"/>
      <class name="com.suites.regression.Testingannotations1"/>
     </classes>
 </test>
 
 <test name="Sanity Suite" >
    <classes>
      <class name="com.suites.sanity.Sanity1"/>
      <class name="com.suites.sanity.Sanity2"/>
     </classes>
 </test>
 <test name="Parallel Suite" parallel = "methods" thread-count="2">
    <classes>
      <class name="com.suites.parallel.Parallel"/>
      
     </classes>
 </test>
</suite>